<div class="container">
  <div class="row titleOverride">
    <h1>Dental Hygiene on the Move</h1><br>
    <br>
  </div>
  <div class="navbar  textOverride navOverride navOverride5">
    <div class="navbar-inner">
      <ul class="nav nav-tabs  nav-justified  navOverride2 navOverride3 navOverride4 navOverride6 ">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>

        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>

        <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
        <li class="<%= 'active' if current_page?(services_path) %>"><%= link_to "Services", services_path %></li>
       <li class="<%= 'active' if current_page?(testimonials_path) %>"><%= link_to "Testimonials", testimonials_path %></li>

       <% if signed_in? %>
         <li><%= link_to "Users", '#' %></li>
         <li id="dropdownMenu" class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Account <b class="caret"></b>
           </a>
           <ul class="dropdown-menu pull-right">
             <li><%= link_to "Profile", current_user %></li>
             <li><%= link_to "Settings", '#' %></li>
             <li class="divider"></li>
             <li>
               <%= link_to "Sign out", signout_path, method: "delete" %>
             </li>
           </ul>
         </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>



